\documentclass[a4paper,12pt]{jsarticle}

\usepackage[dvipdfm]{color}
\usepackage[dvipdfm]{graphicx}
\usepackage[dvipdfm]{hyperref}
\usepackage{pxjahyper}

\hypersetup{
  pdfstartview={FitV},
  pdftitle={$title$},
  pdfsubject={$date$},
  pdfauthor={$author$},
  pdfkeywords={$keywords$},
}

\usepackage{ctable}
\usepackage{enumerate}
\usepackage{listings, jlisting}
\usepackage{book}

% title
\title{$title$}
\author{$author$}
\date{$date$}

% document
\begin{document}
%\maketitle
\begin{titlepage}
\begin{flushright}
{\sf 第$version$版}
\end{flushright}
\vspace*{3em}
\begin{center}
{\Huge\bf $title$}
\smallskip\\
{\Large\it $date$}
\bigskip\\
{\Large\bf $author$}

\vspace{8em}
\includegraphics{title.eps}
\end{center}

\end{titlepage}

\clearpage

$if(toc)$
\tableofcontents
\clearpage
$endif$

$body$
\end{document}
